*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.color-changer-project{
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.color-app-holder{
    /* border: 3px solid red; */
    height: 200px;
    width: 450px;
    display: flex;

}

.left-holder{
    width: 15%;
    height: 100%;
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.right-holder{
    width: 85%;
    height: 100%;
    background: black;
}

.working-with-css-combinators{
    border: 3px solid black;
    margin: 40px 0;
}

/* we have 4 basic selectors in css */
/* decendant selector (space) */
/* child selector (>) */ 
/* adjacent sibling selector (+) */
/* general sibling selector (~) */

/* using descendant selector */
.working-with-css-combinators div {
    background: tomato;
}

.working-with-css-combinators p{
    background: blue;
}

/* using child selector (>) */
div>p{
    color: tomato;
}

/* using adjacent sibling selector (+) */
div+p{
    background: #d9d9d9 !important;
}

/* using general sibling selector (~) */
div~p{
    background: #d9d9d9 !important;
}

/* working with pseudo elements */
.working-with-before-and-after-pseudo-element{
    border: 3px solid tomato;
    margin: 40px 0;
    padding: 30px 0;
    text-align: center;
}

.working-with-before-and-after-pseudo-element h1{
    border: 2px solid black;
}

h1{
    border: 2px solid black;
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1::before{
    content: "Before element";
    color: tomato;
    margin-right: 20px;
}

h1::after{
    content: "I am after element";
    background: tomato;
    height: 30px;
    width: 50px;
}

/* our hamburger menu project  */
.menubar-holder{
    background: tomato;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 30px auto;
    display: flex;
align-items:center ;
justify-content: center;
}
.purplemenu{
    background: purple;
}

.menubars{
    background: white;
    height: 10px;
    width: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menubars::before{
    content: "";
    background: black;
    height: 10px;
    width: 60px;
    transform: translateY(-15px);
    position: absolute;
}
.menubars::after{
    content: "";
    background: red;
    height: 10px;
    width: 60px;
    transform: translateY(15px);
    position: absolute;
}

.purplemenu .menubars{
    background: transparent;
}

.purplemenu .menubars::before{
    transform: rotate(45deg);
}
.purplemenu .menubars::after{
    transform: rotate(-45deg);
}

.working-with-flex-row{
    border: 3px solid tomato;
    height: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flexchild{
    width: 80px;
    height: 80px;
    background: tomato;
    border: 2px solid black;
}

.circle{
    /* border: 3px solid red; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.red{
    background: #ffa800;
}

.tomato{
    background: tomato;
}

.blue{
    background: skyblue;
}

.working-with-box-model{
    border: 3px solid tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parent1{
    background: #d9d9d9;
    height: 300px;
    width: 400px;
    display: flex;
}

.parent2{
    background: black;
    height: 300px;
    width: 400px;
    padding: 30px 10px;
    margin-top: 100px;
    border: 20px dashed blue;
}

.box-model-child{
    background: tomato;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.parent2-child{
    height: 100px;
    width: 100px;
}

.working-with-flex-column{
    border: 3px solid red;
    height: 280px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}